<a href="https://colab.research.google.com/github/AsadShibli/ml_assignment-2_video-1-to-11-/blob/main/video4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of data

In [9]:
x = 10 #int
y = 10.5  #float
z = 3 + 4j #complex

In [6]:
type(z)

complex

In [7]:
x+z

(13+4j)

In [8]:
x = complex(x)
x

(10+0j)

In [10]:
type(x)

int

In [20]:
isinstance(x,int)

True

In [11]:
complex(x)

(10+0j)

In [13]:
sum = x+y

In [14]:
sum

20.5

In [15]:
int(sum)

20

In [16]:
complex(sum)

(20.5+0j)

Bool

In [17]:
x = False
y = True

In [18]:
x

False

In [19]:
type(y)

bool

Sequence data

In [25]:
list = ['asad','abir',2,False,5]

In [22]:
list

['asad', 'abir', 2, False]

In [26]:
list[2:] #after first 2 elements

[2, False, 5]

In [27]:
list[:3]

['asad', 'abir', 2]

In [28]:
list[-2] #index of 2nd element from last

False

In [29]:
type(list)

list

In [31]:
tu = ('asad','abir',2,False,5)

In [33]:
type(tu)

tuple

For Loop

In [39]:
y = range(6)
for i in y:
    print(i)

0
1
2
3
4
5

In [42]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [43]:
for i in range(100,1,-2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [56]:
#Array
import array as ar 

A = ar.array('i',[2,3,4,5])
A

array('i', [2, 3, 4, 5])

In [57]:
type(A)

array.array

In [58]:
#set
S = {3,5,7,7}
type(S)

set

In [60]:
#dictionary 
Dict = {'name':'asad','roll':'23','age':'22'}

In [61]:
Dict

{'name': 'asad', 'roll': '23', 'age': '22'}

In [63]:
Dict.keys() #attributes

dict_keys(['name', 'roll', 'age'])

In [64]:
Dict.values()

dict_values(['asad', '23', '22'])

In [66]:
#Data frame (Pandas)
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [67]:
df.head(6)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0

In [68]:
df.shape

(17000, 9)

In [69]:
df.info

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]>

In [70]:
#binary trees
Byte = bytearray('EFgs','utf-8')

In [71]:
Byte

bytearray(b'EFgs')

In [72]:
type(Byte)

bytearray

In [74]:
memoryview(Byte)

In [75]:
memoryview(Byte)[1]

70