<a href="https://colab.research.google.com/github/AsadShibli/ml_assignment-2_video-1-to-11-/blob/main/video9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise

In [2]:
#1.Display numbers from -100 to -10 using for loop

for i in range(-100,-9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [4]:
#2.Write a program to sum all numbers within a range 10 to 1000

sum = 0
for i in range(10,1000):
 for j in range(2,i):
  if(i/j)==0:
   break
  else:
   sum = sum + i

sum

331834305

In [10]:
#3.Find the factorial of a n

n = int(input('Enter a number'))

fact_n = 1

for i in range(n,0,-1):
 fact_n = i * fact_n 

fact_n

Enter a number10

3628800

In [12]:
#4. reverse a given integer number 27956240710

num = 27956240710
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    
    num //= 10

str_reversed_num = str(reversed_num)
print("Reversed Number: " + str_reversed_num)

Reversed Number: 1704265972